html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  width: 100%;
  line-height: 120%;
  font-family: Arial, sans-serif;
  color: #f00;
  letter-spacing: -0.05em;
}


.app-state { 
	width: 100%;
	height: 100%;
	position: absolute;
	top:0px;
	left:0px;
	display: none;
}

.app-state.active {
	display: block;
}